@charset "UTF-8";

body{
    background-color: rgb(188, 226, 188);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(32, 119, 32);
}
h1#principal{
    text-align: center;
    background-color: rgb(31, 133, 31);
    color: white;
}


h2{
    color: rgb(52, 82, 52);
}
.basico{
    color: rgb(68, 106, 11);

}
.intermediario{
    color: indigo;

}
.avancado{
    color: red;

}
.destaque{
    background-color: turquoise;
}