@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #958361, #805F1D);

}
main{
    background-color: white;
    border-radius: 10px; /* PONTAS*/
    box-shadow: 5px 5px 15px hsla(40, 69%, 14%, 0.611); /*SOMBRA DA BORDA*/
    width: 600px; /* LARGURA*/
    padding: 10px; /*BORDAS*/
    margin: auto; /*CENTRALIZAR PARA O MEIO*/


}
h1{
    color: #C79021;
    text-align: center;
    text-shadow: 1px 1px 2px #4b360da6;

}
h2{
    color: #CC982F;

}

p{
    text-align: justify;

}